* {
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 80px auto;
    width: 400px;
}

.cf:before,
.cf:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}


h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    line-height: 0.9;
    margin: 10px 0;
}

h3 {
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.2;
    margin: 15px 0;
}

#wrap {
    background-color: #ffffff;
}

#area {
    width: 400px;
    height: 400px;
    position: relative;
    overflow:hidden;
}

#wrap .grid-group {
    position: absolute;
    width: 400px;
}

#wrap .grid {
    width: 100px;
    height: 100px;
    border: 1px solid #dcdcdc;
    float: left;
}

#area .box {
    width: 100px;
    height: 100px;
    position: absolute;
    animation: scale-up 500ms ease-in-out both;
    transition: all 0.1s ease-in-out;
}

#btn_reset {
    display: block;
    padding: 10px 20px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    margin: 20px auto;
    border-radius: 5px;
}

#btn_reset:hover {
    background-color: #fff;
    color: pink;
}

.color1 {
    background-color:#97807B;
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}
.color2 {
    background-color:#9AD3C4;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.color3 {
    background-color:#D4E7E1;
    background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
}
.color4 {
    background-color:#F9DFEA;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
.color5 {
    background-color:#EB9BB8;
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
}
.color6 {
    background-color:#FFF0E5;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.color7 {
    background-color:#5CB8D0;
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
}
.color8 {
    background-color:#9EEBE0;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);            
}
.color9 {
    background-color:#F8DCAF;
    background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
}
.color10 {
    background-color:#F0A79E;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
}

@keyframes scale-up {
    0% {
        opacity: 0;
        transform: scale(.2,.2);
        transform-origin: 50%;
    }
    100% {
        opacity: 1;
        transform: scale(1,1);
        transform-origin: 50%;
    }
}